* {
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  padding: 0;
  background-color: #2a2b2a;
  color: white;
}
section {
  margin: 20px 0;
  width: auto;
  max-width: 80%
  border: 1px solid #white;
  border-radius: 8px;
  padding: 20px;
}

.WyszukiwanieMuzyki {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  background-color: #1DB954;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.SearchByGenre, .ChooseBPM {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #000;
  border: 1px solid #191414;
  border-radius: 8px;
}
.ChooseBPM {
  width: 100%;
  display: flex;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  background-color: #2a2b2a;
  border: 2px solid; 
  align-items: center;
  align-self: center;
}
.SongsStorage{
    width: 100%;
    border: 2px solid; 
    margin: 1rem;
    padding: 1rem;
}
.SongsStorage td {
  border: 1px solid; 
}
.SongsStorage th{
    background-color: red;
    border: 2px solid; 
    
}
section {
    margin: 20px;
    padding: 20px;
    background-color: #2a2b2a;
    border-radius: 5px;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }