body {
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  padding: 0;
  background-color: #2a2b2a;
  color: white;
}
section {
  margin: 20px 0;
  width: 80%;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
}

.WyszukiwanieMuzyki {
  width: 100%;
  text-align: center;
  align-self: center;
  align-items: center;
  font-size: 2.5rem;
  color: white;
  background-color: #519872;
  padding: 0;
}
.SearchByGenre {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  background-color: #2a2b2a;
}
.ChooseBPM {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  background-color: #2a2b2a;
}
.SongsStorage{
    width: 100%;
    margin: 1rem;
    padding: 1rem;
}

.SongsStorage th{
    background-color: red;
}
section {
    margin: 20px;
    padding: 20px;
    background-color: #2a2b2a;
    border-radius: 5px;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }